################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ECommerceApp/v17
/.gitignore
/obj/Release/net7.0
