################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ECommerceApp/v17
/.gitignore
/obj/Release/net7.0
/.vs/ProjectEvaluation/ecommerceapp.projects.v7.bin
/.vs/ProjectEvaluation/ecommerceapp.metadata.v7.bin
/.vs/ECommerceApp/v17/.suo
/.vs
.vs/